<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link href="/Style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<div class="backgroundColor"></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="AboutUs">About us</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a th:if="${session.user != null}" class="nav-link" href="Logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="wrapper">
    <form>
        <div class="form-floating pad">
            <input type="email" class="form-control" id="floatingInput" name="email" th:value="${session.email}" required>
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating pad">
            <input type="text" class="form-control" id="floatingUsername" name="username" th:value="${session.username}" required>
            <label for="floatingUsername">Username</label>
        </div>
        <div class="form-floating pad">
            <input type="password" class="form-control" id="floatingPassword" name="currentPassword" required>
            <label for="floatingPassword">Current password</label>
        </div>
        <div class="form-floating pad">
            <input type="password" class="form-control" id="floatingNew" name="newPassword">
            <label for="floatingNew">New password</label>
        </div>
        <div class="button">
            <a href="Profile">
                <button  formmethod="post"  class="btn btn-dark">Save changes</button>
            </a>
        </div>
    </form>
    <div class="button">
        <a href="DeleteAccount">
            <button formmethod="post" class="btn btn-danger">Delete your account</button>
        </a>
    </div>
</div>
</body>
</html>